    html,
    body {
        padding: 0;
        margin: 0;
    }
    
    body {
        background: linear-gradient(#51B5D5, #38DAD4);
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        font-family: 'Open Sans', sans-serif;
        padding: 0 1rem;
        /*padding-top: 10vh;*/
    }
    
    h1 {
        font-size: 6rem;
        font-family: 'Fredoka One', cursive;
    }
    
    .uv-main {
        padding: 0 3rem;
    }
    
    .accent {
        color: #fff307;
    }
    
    .accent-bg {
        color: #fff307;
    }
    
    .uv-title {
        font-size: 7rem;
        opacity: .8;
        display: none;
    }
    
    .card-panel {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
        padding: 3rem;
        background-color: white;
    }
    
    #uv-value {
        font-size: 7rem;
        font-weight: 300;
    }
    
    #value-status {
        font-size: 2rem;
        margin-top: -2rem;
        font-weight: 300;
    }
    
    .skin-type {
        font-size: 5rem;
        border: solid;
    }
    
    .st1 {
        color: #F1D1B1;
        border: solid;
    }
    
    .st2 {
        color: #E4B590;
        border: solid;
    }
    
    .st3 {
        color: #CF9F7D;
        border: solid;
    }
    
    .st4 {
        color: #B67851;
        border: solid;
    }
    
    .st5 {
        color: #A15E2D;
        border: solid;
    }
    
    .st6 {
        color: #513938;
        border: solid;
    }
    
    .hide {
        display: none;
    }
    
    .alert {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
        border-radius: 0;
    }
    /*Desktop*/
    
    @media only screen and (min-width: 768px) {
        .uv-main {
            padding: 0 20rem;
        }
        .uv-title {
            display: block;
        }
        h1 {
            font-size: 12rem;
            margin-bottom: -1.5rem;
        }
        .lead {
            font-size: 1.5rem;
        }
    }